.createAcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #12186F;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border:#000 solid 3px;
    height: 400px;
    width: 900px;

    /* font */
    color: #000;
    font-weight: 500;
    
}

.createAcard-title{
    color: #fff;
    font-weight: 200px;
    font-size: 50px;
}

.CreateACard-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Template */
.createACard-template{  
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: auto;
}


/* Form */
.createACard-form{
    display: flex;
    flex-direction: column;
    background-color: #A50F0F;
    width: 50%;
    padding: 20px;
    margin-left: 50px;
    border: solid #000 2px;
    box-shadow: 5px 5px 10px #000 ;
}

.createACard-form input{
    width: 200px;
}

.createACard-form label{
    width: 100px;
    margin-bottom: 5px;
   

}

/* Button --------------------------------- */
.createACard-form .submit{
    width: 35%;
    height: 35px;
    color: #fff;
    background-color: #4A0505;
    align-self: center;
    border: #000 solid 1px;
    font-size: 1.3rem;
    font-weight: 350;
    margin: 10px;
    margin-top: 28px;
}

.createACard-form .submit:hover{
    
    background-color: #770808;
    
}


