.createAcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #12186F;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border:#000 solid 3px;
    height: 400px;
    width: 900px;

    /* font */
    color: #000;
    font-weight: 500;
    
}

.createAcard-title{
    color: #fff;
    font-weight: 200px;
    font-size: 50px;
}

.CreateACard-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Template */
.createACard-template{  
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: auto;
}

