body{
  background-color: lightblue;
  background-image: radial-gradient(circle, #1044d6, #2559dc, #3b6ce1, #517fe4, #6791e6, #62a1ee, #62b0f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  height: 10000px;
}