
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #6b98d1, #5f92d6, #538cdb, #4885df, #3f7ee3, #3388ec, #2392f5, #009cfe, #00b8ff, #00d0ff, #00e7fc, #5ffbf1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* General Formats */
body *{
  outline: none;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Data tooltip fomat----------------------------------------------------------------------------*/
[data-tooltip]{
  position:relative;
  color:#000;
  margin-right: .4rem;
}

[data-tooltip]:hover::after{
  opacity: .9;
}
[data-tooltip]::after{
  content: attr(data-tooltip);
  position: absolute;
  right: 25px;
  padding:0.5rem;
  background-color:#606060;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none; /* permite que los pseudoelementos no los detecte el  puntero*/
  transition: .25s;

}